* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #D2E0FB;
    text-align: center;
}


.container {
    height: 70vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxes {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.btn {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #FF6600;
    background-color: #ffffc7;
}

.container-msg{
    height: 100vmin;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

#msg{
    color:#384B70;
    font-size: 5vmin;
}

.new-game{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
    width: 30vmin;
}

.hide{
    display: none;
}

.rst{
    height: 20vmin;
}

.rstbtn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
    width: 30vmin;
}